@charset "UTF-8";
/*-------------------------
  初期値
-------------------------*/

body {
  padding-top: 72px;
}

body {
  --key-color: #8e44ad;
  --sub-color: #7e349d;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 58px
  }
}

ul {
  padding-left: 0px;
  list-style-type: none;
}


/*-------------------------
  トップ
-------------------------*/

.topics p {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid #8e44ad;

}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid #7e349d;
}

footer a {
  color: var(--key-color);
}

footer a:hover {
  color: var(--sub-color);
}
